html 
    include ./mixins/msg_mixin
    head 
        title="Chat"
        style 
            include ./css/styles.css
        script(type='text/javascript', src='/socket.io/socket.io.js').
    body 
        main(class="container")
            
            ul(id="chatbox" class="innercontainer")
                each val in messages
                    +msg(val)
            
            form(id="msgform" ) 
                input(id="nameinput" type="hidden" name="name", value=user placeholder=user)
                textarea(id="msgtextarea" name="message")
                input(type="submit" class="formbutton" value="send")
        script  
            include ./mySocket.js