html 
    include ./mixins/msg_mixin
    head 
        title="Chat"
        style 
            include ./css/styles.css
        script(type='text/javascript', src='/socket.io/socket.io.js').
    body 
        h1= "Realtime Chat App."
        main(id="container")
            
            ul(id="chatbox")
                each val in messages
                    +msg(val)
            
            form(id="msgform" ) 
                input(id="nameinput" type="text" name="name", placeholder="sign your name") 
                textarea(id="msgtextarea" name="message")
                input(type="submit" value="send")
        script  
            include ./mySocket.js

<!-- method="POST" action="/" -->